/* https://upptime.js.org/docs/configuration/#theme */
/* https://github.com/upptime/status-page/tree/476a0fcde0acf8f32d3072631f45602668444c75/static/themes */

:root {
  --body-background-color: #80000010;
  --body-text-color: #002626;
  --card-background-color: #ffffff;
  --card-border-color: #d8e8e4;
  --change-background-color: #f7b731;
  --degraded-border-left-color: #f7b731;
  --down-background-color: #ffd0d2;
  --down-border-left-color: #eb3b5a;
  --error-button-background-color: #3867d6;
  --error-button-border-color: #1a46ad;
  --error-button-color: #ffffff;
  --graph-filter: none;
  --graph-opacity: 1;
  --nav-background-color: #ffffff;
  --nav-border-bottom-color: #800000;
  --nav-current-border-bottom-color: #800000;
  --submit-button-background-color: #3867d6;
  --submit-button-border-color: #1a46ad;
  --submit-button-color: #ffffff;
  --tag-color: #ffffff;
  --tag-degraded-background-color: #f7b731;
  --tag-down-background-color: #eb3b5a;
  --tag-up-background-color: #20bf6b;
  --up-border-left-color: #20bf6b;
}
